@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;



  background-color: #242424;

}





body {
  margin: 0;

}

h1 {
  font-size: 2rem;
  line-height: 1.1;
}



button:hover {
  border-color: #6ee4ec;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}